* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  background: #333333;

  color: white;
}

.left {
  margin-left: 20px;
}

.nav .left-text-2 {
  margin: 0px;
  font-size: 14px;
}

.nav .left-text-1 {
  margin: 0px;
  font-size: 24px;
}

.right a:hover {
  text-decoration: none;
}

#wrapper {
  background: rgb(84, 0, 240);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: white;
}

#wrapper .main {
  margin: 0px auto;
  border: 2px solid white;
  border-radius: 20px;
  padding: 40px 50px;
  width: 70%;
}

.main .call-to-action-btn {
  padding: 8px 20px;
  color: black;
  border: 1px solid #ffffff;

  border-radius: 6px;
  text-decoration: none;
  background: #ffffff;
  transition: 0.5s;
}

.main .call-to-action-btn:hover {
  color: white;
  border: 1px solid rgb(0, 240, 108);
  background: rgb(0, 240, 108);
  transition: 0.5s;
}

#wrapper .main-header {
  font-size: xx-large;
}

#wrapper .main-text {
  font-size: medium;
}

.password-options .text {
  color: rgb(80, 255, 45);
}

footer{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background: black;
  color: white;
}

@media (max-width: 960px){
  #wrapper .main {
    margin: 0px auto;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 70%;
  }
  footer{
    text-align: left;
  }
}
